@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Playfair+Display&family=Roboto&family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 7px;
}

.icon {
    font-size: 25px;
}

.header-container ul {
    display: flex;
    list-style-type: none;
}

.header-container ul li {
    padding-left: 10px;

}

.header-container ul a {
    text-decoration: none;
    color: gray;
}

.social {
    display: flex;
}

.social button {
    background-color: gray;
    font-size: 12px;
    padding: 6px 8px;
    border: 0;
    color: white;
    margin: 2px;
    border-radius: 3px;
}

.social button:first-child {
    background-color: blue;
}

.card-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.card {
    background-color: #c4b8b8;
    width: 130px;
    height: 90px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 10px;
    border-radius: 3px;
}

.icon-container {
    height: 10px;
    width: 10px;
    align-self: self-start;
    justify-self: start;
}

.card i {
    align-self: self-start;
    justify-self: start;
    color: white;
}

.card h1 {
    font-size: 25px;
    color: white;
    font-weight: lighter;

}

.card p {
    font-size: 10px;
    color: white;
    font-weight: lighter;

}

.main-section {
    background-image:url('https://images7.alphacoders.com/838/838517.png');
    background-size: cover;
    height: 60vh;
    width: 90%;
    margin: 35px auto;


}

#slides {
    font-family: "Roboto";
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 7px;
    color: white;
    font-size: 10px;
}

.main-nav ul {
    display: flex;
    list-style-type: none;
}

.main-nav a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    color: white;
    padding: 30px;

}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info h1 {
    font-weight: normal;
    padding: 15px;
    align-self: center;
}

.info p {
    font-weight: normal;
    width: 500px;
    text-align: center;
    padding-bottom: 20px;
    align-self: center;

}

.input-container input {
    padding: 10px;
    border-radius: 2px;
    border: 0;

}

.input-container input:last-child {
    background-color: blue;
    color: white;

}

.footer-container ul {
    display: flex;
    justify-content:center;
    align-items:center;
    margin-top: 15px;
    color: white;

}
.footer-container li:first-child{
    list-style-type: none;
}
.footer-container li {
    font-size: 12px;
    margin: 20px;
}